[Unit]
Description=OmnikMQTT daemon
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/OmnikMQTT/OmnikMQTT.py
Restart=on-failure

[Install]
WantedBy=multi-user.target